form {
	display: flex;
}


#login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login {
	@include card(2);
	flex-flow: wrap column;
	max-width: 300px;
	margin: 0 20px;
	padding: 15px;
	height: 305px;
	align-items: center;
	justify-content: center;
	&__title {
		margin-bottom: 10px;
	}
	&__label {
		text-align: center;
	}
	&__input {
		margin: 10px;
	}
	&__btn {
		width: 150px;
		margin-top: 10px;
	}
	&__error {
		margin-bottom: 20px;
		font-weight: 700;
		color: $hyc-red;
	}
}

.form {
	flex-flow: column;
}

.form__label {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	span {
		display: inline-block;
		padding-top: 13px;
		font-weight: 300;
	}
}

.form__input {
	margin-left: 10px;
	width: 200px;
}

.form__btn-container {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	.btn {
		margin-left: 10px;
	}
}