header {
	display: flex;
	flex-grow: 0;
	background: $red;
	color: $white;
	align-items: center;
	@include card(2);
}

.navmenu {
	display: flex;
	margin-left: auto;
}

.site-title {
	padding-left: 20px;
}

.navmenu__item.is-active {
	.navmenu__link {
		border-bottom: 3px solid $white;
	}
}

.navmenu__link {
	padding: 20px;
	padding-bottom: 17px;
	color: $white;
	display: inline-block;
	border-bottom: 3px solid transparent;
	&:hover {
		background: $white-divider;
		color: $white;
	}
}