.page-wrapper {
	min-height: 100%;
	max-height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
}

.content-wrapper {
	display: flex;
	flex: 1;
}

.footer {
	display: flex;
	flex: 0;
}

.body-container {
	position: relative;
	display: flex;
	flex: 1;
	justify-content: center;
	overflow: hidden;
}

.admin-wrapper, .section-wrapper {
	margin: 0 auto;
	max-width: 800px;
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	@media screen and (max-width: $smallest) {
		padding: 10px;
	}
}

.admin__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.cabin-list, .event-list {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.logo-topbar {
	display: none;
	background: $red;
	// border-bottom: $divider;
	@include card(2);
	padding: 5px;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: $smallest) {
		display: flex;
	}
}