.page-wrapper {
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.content-wrapper {
	display: flex;
	flex: 1;
}

.footer {
	display: flex;
	flex: 0;
}

.body-container {
	padding: 20px;
	position: relative;
}

.admin-wrapper {
	max-width: 900px;
	margin: 0 auto;
}

.cabin-list, .event-list {
	display: flex;
	flex-flow: column;
}