.page-wrapper {
	min-height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
}

.content-wrapper {
	display: flex;
	flex: 1;
}

.footer {
	display: flex;
	flex: 0;
}

.body-container {
	padding: 20px;
	position: relative;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.admin-wrapper, .section-wrapper {
	margin: 0 auto;
	max-width: 800px;
	flex: 1;
}

.admin__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.cabin-list, .event-list {
	display: flex;
	flex-flow: column;
	width: 100%;
}