html
head
	meta(charset="UTF-8")
	title HackerYou.camp Admin
	link(rel="stylesheet", href="font-awesome-4.4.0/css/font-awesome.css")
	link(rel='stylesheet', href="main.css")
body#admin
	script(src="main.min.js")