html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title HackerYou.camp
		link(rel='stylesheet', href="../main.css")
	body#login
		form(action="#" method="POST")
			input#username(name="username" type="text")
			input#password(name="password" type="password")
			input#login(type="submit" value="Log In")

		script(src="../lib.min.js")