html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title HackerYou.camp
		link(rel="icon" type="image/ico" href="assets/img/favicon.ico")

		link(rel='stylesheet', href="../main.css")
	body#login
		form.login(action="#" method="POST")
			if error
				p.login__error #{error}
			h3.login__title Log In
			label.login__label(for="username") Username
				input.login__input#username(name="username" type="text")
			label.login__label(for="password") Password
				input.login__input#password(name="password" type="password")
			input.login__btn#login(type="submit" value="Log In")

		script(src="../lib.min.js")