.event-list {

}

.event-list__day {

	&__title {
		// text-align: center;
		padding: 20px;
		padding-bottom: 10px;

	}
}

.event-list__time {
	// border-top: 1px solid $divider;
	display: flex;
	flex-flow: wrap;
	margin-top: 0;
	&__title {
		padding: 10px 20px;
		width: 100%;
	}
}


.event {
	padding: 20px;
	margin: 10px;
	flex: 1 1 100%;
	@include card(2);
	&__heading {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
	}
}

// Desktop styles

@media (min-width: $small) {
	.event {
		flex: 1;
	}
}