.btn {
	@include card(1);
	padding: 10px 15px;
	border: 1px;
	color: $white;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: $nimbussans;
	cursor: pointer;
}

.btn-grey {
	background: $charcoal;
}

.btn-blue {
	background: $blue;
}

.btn-red {
	background: $red;
}