.data-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	padding: 10px;
	@include card(1);
	border-radius: 60px;
	transition: all 0.3s ease-in-out;
}

.data-row__title {
	font-size: 20px;
}

.data-row__info {
	flex-basis: 50%;
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.data-row__icon-container {
	background: $red;
	color: white;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border-radius: 50%;
	@include card(1);
	&--edit {
		background: $blue;
		cursor: pointer;
	}
	&--add {
		background: $green;
		cursor: pointer;
	}
	&--rank {
		background: $charcoal;
		margin-right: 10px;
	}
}

.data-row__input {
	width: 60px;
	margin-left: 10px;
}

.data-row.add {
	.data-row__input {
		padding: 10px;
	}
}

@media screen and (max-width: $small) {
	.data-row__icon-container {
		width: 40px;
		height: 40px;
		font-size: 24px;
	}
	.data-row__info {
		padding: 0 10px;
		flex: 1;
	}
	.data-row__title {
		font-size: 16px;
	}
}