.icon {
	width: 50px;
	&-small {
		width: 20px;
	}
	.fire-main {
		fill: $red;
	}
	.main-stick {
		fill: $black;
	}

	.accent-stick {
		fill: $charcoal;
	}

	&-mono {
		.fire-main {
			fill: $white;
		}
	}

}