@font-face {
	font-family: 'Nimbus Sans';
	src: url('../assets/fonts/NimbusSansNovusDOT-Lig.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('../assets/fonts/NimbusSansNovusDOT-Reg.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('../assets/fonts/NimbusSansNovusDOT-SemBol.otf');
	font-weight: 600;
	font-style: normal;
}

$blue: #26a6c9;
$red: #d12026;
$charcoal: #444345;
$green: forestgreen;

$black: #000;
$white: #fff;
$black-text: rgba($black, 0.87);
$secondary-text: rgba($black, 0.54);
$hint-text: rgba($black, 0.26);
$divider: rgba($black, 0.12);

$white-secondary: rgba($white, 0.7);
$white-hint: rgba($white, 0.3);
$white-divider: rgba($white, 0.12);

$grey-300: #E0E0E0;
$grey-100: #F5f5f5;
$grey-50: #fafafa;

$nimbussans: 'Nimbus Sans', sans-serif;

$smallest: 480px;
$small: 600px;